<button pButton class="btn-logout p-button-danger" label="logout" (click)="logout()"></button>

<h1 class="text-center">
  Translate PowerPoint <span style="color: red">Without</span><br />
  Breaking the Format
</h1>

<div class="container">
  <div class="mt-6">
    <div>Upload PowerPoint File</div>

    <p-fileUpload 
      mode="basic"
      chooseLabel="Choose file"
      chooseIcon="pi pi-upload"
      name="file[]"
      accept=".pptx,.ppt"
      styleClass="mt-2"
      (onSelect)="onSelectFile($event)"
    ></p-fileUpload>
  </div>

  <div class="mt-5">
    <div>Select a Translation Engine</div>

    <p-dropdown 
      [options]="engines" 
      [(ngModel)]="selectedEngine" 
      styleClass="w-full mt-2"
    ></p-dropdown>
  </div>

  <div class="mt-5">
    <div>Translate Image? (OCR)</div>

    <div class="flex flex-column mt-2">
      <div class="field-checkbox">
        <p-radioButton 
          inputId="translateImageYes"
          name="yes" 
          [value]="true" 
          [(ngModel)]="isTranslateImage"
        ></p-radioButton>
        <label for="translateImageYes" class="ml-2">Yes</label>
      </div>

      <div class="field-checkbox">
        <p-radioButton 
          inputId="translateImageNo"
          name="no" 
          [value]="false" 
          [(ngModel)]="isTranslateImage"
        ></p-radioButton>
        <label for="translateImageNo" class="ml-2">No</label>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <div class="flex align-items-center gap-3">
      <div class="w-3">Source language</div>
      <i class="pi pi-arrow-right" style="visibility: hidden;"></i>
      <div class="w-3">Target language</div>
    </div>

    <div class="flex align-items-center gap-3">
      <p-dropdown
        class="w-3"
        [options]="languages"
        [(ngModel)]="sourceLanguage"
        styleClass="w-full mt-2"
        (onChange)="onSourceLanguageChanged($event)"
      ></p-dropdown>

      <i class="pi pi-arrow-right"></i>

      <p-dropdown
        class="w-3"
        [options]="languages"
        [(ngModel)]="targetLanguage"
        styleClass="w-full mt-2"
        (onChange)="onTargetLanguageChanged($event)"
      ></p-dropdown>
    </div>
  </div>

  <div class="text-center my-6">
    <button pButton label="Submit" (click)="submit()"></button>
  </div>
</div>